.popup {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100px;
    min-height: 100px;
}

.label-text {
    color: #a2b4d6;
    font-size: 14px;
}
.value-text {
    color: #fff9dd;
    font-size: 14px;
}
.point-text {
    color: #00baff;
    font-size: 16px;
}

.avatar {
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
}
.avatar-profile {
    margin-bottom: 10px;
    font-size: 20px;
}
.avatar-profile-image {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    margin-right: 6px;
    margin-top: -2px;
}
.avatar .hp-bar, .avatar .exp-bar {
    clear: left;
    width: 180px;
    margin-left: -4px;
}
.avatar .hp-bar .bar, .avatar .exp-bar .bar {
    float: left;
    position: relative;
    top: -9px;
    left: -7px;
    width: 180px;
}
.avatar .hp {
    float: left;
    color: #00e607;
}
.avatar .hp-less {
    float: left;
    color: #ff2116;
}
.avatar .exp {
    clear: left;
    float: left;
    color: #3ca6ff;
}

button i {
    font-size: 0.7em;
    font-style: normal;
}

.stats {
    width: 180px;
}
.stats p {
    margin: 0 0 0 10px;
}
.stats p i {
    margin: 0 10px 0 0;
}
.stats i {
    font-style: normal;
}
.stats .stat {
    width: 100%;
    margin-top: -2px;
}
.stats .stat tr {
    margin: 0;
    padding: 0;
}
.stats .stat td {
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
}
.stats .stat .label-text {
    font-size: 12px;
}
.stats .stat .value-text {
    text-align: center;
}
.stats .stat .value-text b {
    margin-left: 8px;
}
.stats .stat button {
    text-indent: -9999px;
    border: none;
    width: 28px;
    height: 28px;
    display: none;
}

.gold {
    padding: 4px 0 6px 52px;
    position: absolute;
    top: 0;
    left: 1030px;
    width: 90px;
    text-shadow: 0 2px 2px #000;
    line-height: 36px;
}

button.zone {
    position: absolute;
    top: 582px;
    width: 100px;
    line-height: 36px;
}
div.zone {
    display: none;
    width: 88px;
}
.zone {
    position: absolute;
    left: 1030px;
    text-align: center;
}
.zone button {
    margin-bottom: 6px;
    padding: 4px 8px;
    background: none;
    border: none;
}

.inventory {
    top: 14px;
    left: 220px;
    width: 216px;
}
.inventory .title {
    padding-top: 4px;
    padding-left: 30px;
    margin-bottom: 20px;
    height: 30px;
    text-align: center;
    font-size: 16px;
}
.inventory .items {
    float: left;
}
.inventory .items td {
    width: 52px;
    height: 52px;
    text-align: center;
    overflow: hidden;
}
.inventory .items  .item {
    margin: auto;
    display: block;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    text-shadow: 0px 0px 4px #000;
}
.inventory .items  .amount {
    float: right;
    color: #fff;
    margin-top: 14px;
}
.inventory .items  .equip {
    float: left;
    color: #0d0;
}

.message {
    position: absolute;
    top: 200px;
    left: 0;
    width: 1136px;
    text-align: center;
    font-size: 1.4em;
}

.game {
    width: 1136px;
    height: 640px;
    background: #fff;
    overflow: hidden;
}
.game .gradient-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 205px;
    height: 640px;
}

.menus button {
    margin-right: 10px;
    background: #999;
    border: 2px solid #000;
    width: 60px;
    height: 60px;
}

.bottom {
    position: absolute;
    top: 500px;
    left: 0;
    width: 1136px;
    height: 140px;
    text-align: center;
}
.bottom .menu {
    float: left;
}
.bottom button {
    border: none;
    margin-right: 10px;
    width: 140px;
    height: 140px;
    text-indent: -9999px;
}
.bottom button:hover {
    border: none;
}
.bottom button:active {
    border: none;
}
.bottom button.bag {
    float: left;
}

.moves {
    width: 1136px;
}
.moves button {
    padding: 4px;
}
.moves hr {
    clear: left;
    border: 1px solid #5c553c;
    margin: 10px 0;
}
.moves .move {
    padding: 10px 20px;
}
