bencode.py >= 2.0.0, < 2.1.0
celery >= 4.1.0, < 4.2.0
click >= 6.7, < 7.0
flake8 >= 3.5.0, < 3.6.0
Flask >= 0.12.2, < 0.13.0
Flask-SQLAlchemy >= 2.3.2, < 2.4.0
gunicorn >= 19.7.1, < 19.8.0
honcho >= 1.0.1, < 1.1.0
pytz >= 2018.3
redis >= 2.10.6, < 2.11.0
requests >= 2.18.4, < 2.19.0
seccure >= 0.3.2, < 0.4.0
SQLAlchemy >= 1.2.2, < 1.3.0
