<ul>
    <li>네코유메는 던전월드 규칙을 사용하고 있습니다.<br>던전월드의 기본 규칙을 숙지해주시면 게임을 더 빠르게 익숙해지실 수 있습니다.<br>
        <a href="https://sites.google.com/site/dungeonworldkr/home" target="_blank">→ 던전월드 한국어 공개판 보러가기</a></li>
    <li>현재 프리뷰넷에서는 직업 선택이 없이 초심자로만 직업이 고정됩니다.<br>추후 메인넷에서는 던전월드에서 제공하는 모든 직업과 종족 선택이 가능할 예정입니다.</li>
    <li>플레이어의 행동이 실제 수행되는데는 약 15초의 시간이 걸립니다.<br>하지만 가끔은 더 오래걸리기도 하니 인내심을 가지고 기다려주세요. 🙏</li>
    <li>골드를 보유하고 있으면 더 쉽고 강력한 플레이어를 육성할 수 있습니다.<br>
        <a href="https://nekoyu.me/token.html" target="_blank">→ 골드 입수 방법 보러가기</a></li>
</ul>
