{% extends 'layout.html' %}
{% block title %}New{% endblock %}
{% block style %}
<link rel="stylesheet" href="{{ static_url(filename='game.css') }}">
<style>
  body {
    background: #000 url("{{ static_url(filename='dist/images/bg_character_select_01.png') }}") no-repeat;
  }
  .gradient {
    position: absolute;
    width: 100%;
    top: 570px;
    left: 0;
    height: 70px;
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 80%, rgba(0,0,0,1) 99%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 80%,rgba(0,0,0,1) 99%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 80%,rgba(0,0,0,1) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  }

  .class-character {
    padding-top: 76px;
    height: 250px;
  }
  .class-character div {
    width: 100%;
    height: 100%;
  }
  .class-character .swordman {
    background: url("{{ static_url(filename='dist/images/character_swordman.png') }}") no-repeat 330px bottom;
  }
  .class-character .mage {
    background: url("{{ static_url(filename='dist/images/character_mage.png') }}") no-repeat 300px bottom;
  }
  .class-character .archer {
    background: url("{{ static_url(filename='dist/images/character_archer.png') }}") no-repeat 310px bottom;
  }
  .class-character .acolyte {
    background: url("{{ static_url(filename='dist/images/character_acolyte.png') }}") no-repeat 300px bottom;
  }

  .status {
    float: right;
    overflow: hidden;
    margin: 20px 100px 0 0;
    width: 280px;
    text-align: center;
  }
  .class-icon div {
    width: 130px;
    height: 130px;
    margin: 0 auto;
  }
  .class-icon .swordman {
    background: url("{{ static_url(filename='dist/images/icon_swordman.png') }}") no-repeat center bottom;
  }
  .class-icon .mage {
    background: url("{{ static_url(filename='dist/images/icon_mage.png') }}") no-repeat center bottom;
  }
  .class-icon .archer {
    background: url("{{ static_url(filename='dist/images/icon_archer.png') }}") no-repeat center bottom;
  }
  .class-icon .acolyte {
    background: url("{{ static_url(filename='dist/images/icon_acolyte.png') }}") no-repeat center bottom;
  }
  .status .desc-1 {
    margin: 10px 0;
    font-size: 18px;
  }
  .status .desc-2 {
    margin: 10px 0;
    font-size: 14px;
  }
  .stats {
    margin: 20px auto 30px;
  }
  .stats table tr {
    border: 6px solid;
    border-image: url("{{ static_url(filename='dist/images/UI_box_01.png') }}") 6 fill;
  }
  .stats .stat {
    border: 5px solid;
    border-image: url("{{ static_url(filename='dist/images/UI_box_01.png') }}") 5 fill;
    padding: 2px;
    text-align: center;
  }

  .bottom {
    margin-left: 200px;
    width: 600px;
  }
  .bottom .selected {
    background: url("{{ static_url(filename='dist/images/icon_select_01.png') }}") no-repeat center -30px;
  }
  .class-btn-container, .class-btn-container button {
    width: 100px;
    height: 100px;
    float: left;
  }
  .class-btn-container button {
    background-position: center bottom;
    background-repeat: no-repeat;
  }
  button.swordman {
    background-image: url("{{ static_url(filename='dist/images/icon_swordman_01.png') }}");
  }
  .selected button.swordman {
    background-image: url("{{ static_url(filename='dist/images/icon_swordman_02.png') }}");
  }
  button.mage {
    background-image: url("{{ static_url(filename='dist/images/icon_mage_01.png') }}");
  }
  .selected button.mage {
    background-image: url("{{ static_url(filename='dist/images/icon_mage_02.png') }}");
  }
  button.archer {
    background-image: url("{{ static_url(filename='dist/images/icon_archer_01.png') }}");
  }
  .selected button.archer {
    background-image: url("{{ static_url(filename='dist/images/icon_archer_02.png') }}");
  }
  button.acolyte {
    background-image: url("{{ static_url(filename='dist/images/icon_acolyte_01.png') }}");
  }
  .selected button.acolyte {
    background-image: url("{{ static_url(filename='dist/images/icon_acolyte_02.png') }}");
  }

  .go-btn-container {
    margin: 0 auto;
    width: 223px;
    height: 89px;
    background: url("{{ static_url(filename='dist/images/button_blue_effect_01.png') }}");
  }
  .go-btn-container button {
    margin: 20px auto 0;
    width: 184px;
    height: 50px;
    background: none;
    border: 5px solid;
    border-image: url("{{ static_url(filename='dist/images/button_blue_02.png') }}") 5 fill;
    font-size: 24px;
  }
</style>
{% endblock %}
{% set avatar = g.user.avatar() %}
{% block body %}
<div class="gradient"></div>
<div style="position: absolute; top: 250px; left: 400px; display: none;"
     class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active"></div>
<div class="status">
  <div class="class-icon">
    <div class=""></div>
  </div>
  <div class="desc-1">
    독수리도 내 민첩함은 못 따라온다냥
  </div>
  <div class="desc-2 label-text">
    활 공격에 능통한 고양이 종족이다.<br />
    DEX가 높은것이 특징인 캐릭터이다.
  </div>
  <div class="stats" style="width: 140px;">
    <table class="stat">
      <tr>
        <td class="label-text" style="width: 30px; padding-left: 6px;">STR</td>
        <td class="value-text" style="width: 80px;">{{ avatar.strength }}<b></b></td>
      </tr>
    </table>
    <table class="stat">
      <tr>
        <td class="label-text" style="width: 30px; padding-left: 6px;">DEX</td>
        <td class="value-text" style="width: 80px;">{{ avatar.dexterity }}<b></b></td>
      </tr>
    </table>
    <table class="stat">
      <tr>
        <td class="label-text" style="width: 30px; padding-left: 6px;">INT</td>
        <td class="value-text" style="width: 80px;">{{ avatar.intelligence }}<b></b></td>
      </tr>
    </table>
    <table class="stat">
      <tr>
        <td class="label-text" style="width: 30px; padding-left: 6px;">CON</td>
        <td class="value-text" style="width: 80px;">{{ avatar.constitution }}<b></b></td>
      </tr>
    </table>
    <table class="stat">
      <tr>
        <td class="label-text" style="width: 30px; padding-left: 6px;">LUK</td>
        <td class="value-text" style="width: 80px;">{{ avatar.luck }}<b></b></td>
      </tr>
    </table>
  </div>

  <div class="go-btn-container">
    <button onclick="confirmClass();">go!</button>
  </div>
</div> <!--end status-->

<div class="class-character">
  <div class=""></div>
</div>

<div class="bottom">
  <div class="class-btn-container">
      <button class="swordman mdl-button mdl-js-button mdl-js-ripple-effect"
              onclick="selectClass('swordman');">
              swordman
      </button>
  </div>
  <div class="class-btn-container">
      <button class="archer mdl-button mdl-js-button mdl-js-ripple-effect"
              onclick="selectClass('archer');">
              archer
      </button>
  </div>
  <div class="class-btn-container">
      <button class="mage mdl-button mdl-js-button mdl-js-ripple-effect"
              onclick="selectClass('mage');">
              mage
      </button>
  </div>
  <div class="class-btn-container">
      <button class="acolyte mdl-button mdl-js-button mdl-js-ripple-effect"
              onclick="selectClass('acolyte');">
              acolyte
      </button>
  </div>
</div>

<div style="display: none;" class="check-unconfirmed"></div>
<div style="display: none;" class="selected-class"></div>
{% endblock %}
{% block script %}
<script>
  $('.check-unconfirmed').load('/in_progress', function (data) {
    if (data == "false") {
      $('button').prop('disabled', false);
    } else {
      $('.mdl-spinner').show();
      $('button').prop('disabled', true);
      update();
    }
  });

  function update() {
    var interval = setInterval(function() {
      $('.check-unconfirmed').load('/in_progress', function (data) {
        if (data == "false") {
          clearInterval(interval);
          location.href='{{ url_for("game.get_game") }}';
        }
      });
    }, 3000);
  }

  function selectClass(c) {
    $('.selected-class').text(c);

    $('.class-btn-container').removeClass('selected');
    $('button.' + c).parent().addClass('selected');

    var $character = $('.class-character div');
    $character.removeAttr('class');
    $character.addClass(c);

    var $icon = $('.class-icon div');
    $icon.removeAttr('class');
    $icon.addClass(c);
  }

  function confirmClass() {
    $('.mdl-spinner').show();
    $('button').prop('disabled', false);
    $('.select-class').css('visibility', 'hidden');
    $('button').prop('disabled', true);
    $.post("{{ url_for('game.post_move') }}", {
      name: 'first_class',
      class_: $('.selected-class').text()
    }, update);
  }

  selectClass('swordman');
</script>
{% endblock %}
