{% extends 'layout.html' %}
{% block title %}Game{% endblock %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='game.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='items.css') }}">
<style>
.avatar .hp-bar, .avatar .exp-bar {
  border: 7px solid;
  border-image: url("{{ url_for('static', filename='dist/images/UI_bar_01_bg.png') }}") 6 fill;
}
.avatar .hp-bar .bar {
  border: 7px solid;
  border-image: url("{{ url_for('static', filename='dist/images/UI_bar_01_green.png') }}") 7 fill;
}
.avatar .exp-bar .bar {
  border: 7px solid;
  border-image: url("{{ url_for('static', filename='dist/images/UI_bar_01_blue.png') }}") 7 fill;
}
button.black {
  background: none;
  border: 6px solid;
  border-image: url("{{ url_for('static', filename='dist/images/button_black_01.png') }}") 6 fill;
}
.stats {
  border: 6px solid;
  border-image: url("{{ url_for('static', filename='dist/images/UI_box_bg.png') }}") 6 fill;
}
.stats table tr {
  border: 6px solid;
  border-image: url("{{ url_for('static', filename='dist/images/UI_box_01.png') }}") 6 fill;
}
.stats .stat {
  border: 5px solid;
  border-image: url("{{ url_for('static', filename='dist/images/UI_box_01.png') }}") 5 fill;
}
.stats .stat button.up {
  background: url("{{ url_for('static', filename='dist/images/button_blue_plus.png') }}") no-repeat;
}
.stats .stat button.down {
  background: url("{{ url_for('static', filename='dist/images/button_blue_minus.png') }}") no-repeat;
}
.gold {
  background: url("{{ url_for('static', filename='dist/images/icon_coin.png') }}") no-repeat 4px 4px;
}
.inventory .items {
  background: url("{{ url_for('static', filename='dist/images/item_frame.png') }}") repeat 2px 3px;
}
.inventory .items  .item {
  background-image: url("{{ url_for('static', filename='dist/images/tf_icon_32.png') }}");
}
.game .gradient-left {
  background: url("{{ url_for('static', filename='dist/images/UI_black_bg.png') }}") repeat-y;
}
.bottom button.bag {
  background: url("{{ url_for('static', filename='dist/images/icon_inventory.png') }}") no-repeat bottom center;
}
.bottom button.hack-and-slash {
  background: url("{{ url_for('static', filename='dist/images/icon_fight.png') }}") no-repeat bottom center;
}
.bottom button.sleep {
  background: url("{{ url_for('static', filename='dist/images/icon_sleep.png') }}") no-repeat bottom center;
}
</style>
<script src="{{ url_for('static', filename='dist/build/UnityLoader.js') }}"></script>
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
{% endblock %}
{% set avatar = g.user.avatar() %}
{% block body %}
  <div class="game">
    <div class="gradient-left"></div>
    <div id="gameContainer" style="width: 1136px; height: 640px"></div>
    <div style="position: absolute; top: 320px; left: 568px; display: none;"
         class="progress mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active"></div>
    <div class="message"></div>
    <div class="bottom">
      <button class="bag block mdl-button mdl-js-button mdl-js-ripple-effect"
              onclick="toggleInventory();">Inventory</button>
      <button class="hack-and-slash block mdl-button mdl-js-button mdl-js-ripple-effect" 
              onclick="hack_and_slash();" {% if avatar.dead -%}disabled{%- endif -%}>Hack And Slash</button>
      <button class="sleep block mdl-button mdl-js-button mdl-js-ripple-effect" 
              onclick="sleep();">Sleep</button>
    </div>
  </div>

  <div class="status"></div>

  <div>
    {{ g.user.address }}
    <a href="https://nekoyu.me/">{% trans -%}Homepage{%- endtrans %}</a>
    <a href="https://nekoyu.me/token">{% trans -%}Buy Gold{%- endtrans %}</a>
    <a href="https://github.com/nekoyume">Github</a>
    <a href="{{ url_for('game.export_private_key') }}">{% trans -%}Export Private Key{%- endtrans %}</a>
    <a href="{{ url_for('game.get_logout') }}">{% trans -%}Logout{%- endtrans %}</a>
  </div>

  <script>
    var gameInstance = UnityLoader.instantiate("gameContainer", "{{ url_for('static', filename='dist/build/webgl.json') }}", {onProgress: loading});
    var inProgress = true;

    function init() {
      $('.status').load('/status .status', function () {
        $.get('/in_progress', function (data) {
          if (data == "false") {
            setInProgress(false);
          } else {
            setInProgress(true);
            update();
          }
        });
      });
    }

    function loading(gameInstance, progress) {
      if (!gameInstance.Module) {
        return;
      }
      if (!inProgress) {
        setInProgress(true);
      }
      $('.message').text((100 * progress) + '%');
    }

    function setInProgress(value) {
      inProgress = value;
      if (value)
      {
        $('.progress').show();
        $('.message').text('');
        $('.game button').prop('disabled', true);
      }
      else
      {
        $('.progress').hide();
        $('.game button').prop('disabled', false);
      }
    }

    function onLoadUnity() {
      setInProgress(false);
      gameInstance.SendMessage("Battle", "Home", "novice");
    }

    function onMessage(msg) {
      // message from unity
      if (msg == "end_battle") {
        $('.message').text('');
      }
    }

    function onSkill(name) {
      $('.message').text(name);
    }

    function play() {
      if (inProgress)
        return;

      var hasEl = $($('.moves div')[0]).children('input');
      if (hasEl.length > 0) {
        var json = $(hasEl).val();
        gameInstance.SendMessage("Battle", "Play", json);
      } else {
        gameInstance.SendMessage("Battle", "Home", "novice");
      }
    }

    function replay(block_id) {
      if (inProgress)
        return;

      var json = $('input[name=play_' + block_id + ']').val();
      gameInstance.SendMessage("Battle", "Play", json);
    }

    function update() {
      var interval = setInterval(function() {
        $.get('/in_progress', function (data) {
          if (data == "false") {
            clearInterval(interval);
            setInProgress(false);
            $('.status').load('/status .status', play);
          }
        });
      }, 2000);
    }

    function hack_and_slash() {
      if (inProgress)
        return;

      gameInstance.SendMessage("Battle", "Walking", "");
      setInProgress(true);
      $.post("{{ url_for('game.post_move') }}", {
        name: 'hack_and_slash'
      }, update);
    }

    function sleep() {
      if (inProgress)
        return;

      gameInstance.SendMessage("Battle", "Sleep", "");
      setInProgress(true);
      $.post("{{ url_for('game.post_move') }}", {
        name: 'sleep'
      }, update);
    }

    function firstClass(c) {
      if (inProgress)
        return;

      $('.first-class button').prop('disabled', true);
      gameInstance.SendMessage("Battle", "Clear", "");
      setInProgress(true);
      $.post("{{ url_for('game.post_move') }}", {
        name: 'first_class',
        class_: c
      }, update);
    }

    function moveZone(zone) {
      if (inProgress)
        return;

      $('.zone button').prop('disabled', true);
      gameInstance.SendMessage("Battle", "Walking", "");
      setInProgress(true);
      $.post("{{ url_for('game.post_move') }}", {
        name: 'move_zone',
        zone: zone
      }, update);
    }

    function toggleStats() {
      $('div.stats').toggle();
    }

    function toggleInventory() {
      $('.inventory').toggle();
    }

    function strDown() {

    }

    function strUp() {
      
    }

    function dexDown() {

    }

    function dexUp() {
      
    }

    function intDown() {

    }

    function intUp() {
      
    }

    function conDown() {

    }

    function conUp() {
      
    }

    function lukDown() {

    }

    function lukUp() {
      
    }

    init();
  </script>
{% endblock %}
