{% extends 'layout.html' %}
{% block title %}Game{% endblock %}
{% block style %}
<link rel="stylesheet" href="{{ static_url(filename='game.css') }}">
<link rel="stylesheet" href="{{ static_url(filename='items.css') }}">
<style>
.avatar .hp-bar, .avatar .exp-bar {
  border: 7px solid;
  border-image: url("{{ static_url(filename='dist/images/UI_bar_01_bg.png') }}") 6 fill;
}
.avatar .hp-bar .bar {
  border: 7px solid;
  border-image: url("{{ static_url(filename='dist/images/UI_bar_01_green.png') }}") 7 fill;
}
.avatar .exp-bar .bar {
  border: 7px solid;
  border-image: url("{{ static_url(filename='dist/images/UI_bar_01_blue.png') }}") 7 fill;
}
button.black {
  background: none;
  border: 6px solid;
  border-image: url("{{ static_url(filename='dist/images/button_black_01.png') }}") 6 fill;
}
button.close {
  float: right;
  width: 30px;
  height: 30px;
  text-indent: -9999px;
  background: url("{{ static_url(filename='dist/images/button_black_close.png') }}") no-repeat center;
  border: none;
}
.stats {
  border: 6px solid;
  border-image: url("{{ static_url(filename='dist/images/UI_box_bg.png') }}") 6 fill;
}
.stats table tr {
  border: 6px solid;
  border-image: url("{{ static_url(filename='dist/images/UI_box_01.png') }}") 6 fill;
}
.stats .stat {
  border: 5px solid;
  border-image: url("{{ static_url(filename='dist/images/UI_box_01.png') }}") 5 fill;
}
.stats .stat button.up {
  background: url("{{ static_url(filename='dist/images/button_blue_plus.png') }}") no-repeat;
}
.stats .stat button.down {
  background: url("{{ static_url(filename='dist/images/button_blue_minus.png') }}") no-repeat;
}
.gold {
  background: url("{{ static_url(filename='dist/images/icon_coin.png') }}") no-repeat 4px 4px;
}
.popup {
  border: 6px solid;
  border-image: url("{{ static_url(filename='dist/images/UI_box_bg.png') }}") 6 fill;
}
.popup .title {
  border-bottom: 1px solid;
  border-image: url("{{ static_url(filename='dist/images/UI_line_02.png') }}") 1 fill;
}
.inventory .items .item {
  background-image: url("{{ static_url(filename='dist/images/tf_icon_32.png') }}");
}
.zone {
  border: 6px solid;
  border-image: url("{{ url_for('static', filename='dist/images/UI_box_bg.png') }}") 6 fill;
}
.game .gradient-left {
  background: url("{{ static_url(filename='dist/images/UI_black_bg.png') }}") repeat-y;
}
.bottom button.bag {
  background: url("{{ static_url(filename='dist/images/icon_inventory.png') }}") no-repeat bottom center;
}
.bottom button.hack-and-slash {
  background: url("{{ static_url(filename='dist/images/icon_fight.png') }}") no-repeat bottom center;
}
.bottom button.sleep {
  background: url("{{ static_url(filename='dist/images/icon_sleep.png') }}") no-repeat bottom center;
}
</style>
<script src="{{ static_url(filename='dist/build/UnityLoader.js') }}"></script>
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
{% endblock %}
{% set avatar = g.user.avatar() %}
{% block body %}
  <div class="game">
    <div class="gradient-left"></div>
    <div id="gameContainer" style="width: 1136px; height: 640px"></div>
    <div style="position: absolute; top: 320px; left: 568px; display: none;"
         class="progress mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active"></div>
    <div class="message"></div>
    <div class="bottom">
      <button class="bag block mdl-button mdl-js-button mdl-js-ripple-effect"
              onclick="toggleInventory();">Inventory</button>
      <!--button class="hack-and-slash block mdl-button mdl-js-button mdl-js-ripple-effect"
              onclick="hack_and_slash();" {% if avatar.dead -%}disabled{%- endif -%}>Hack And Slash</button>
      <button class="sleep block mdl-button mdl-js-button mdl-js-ripple-effect"
              onclick="sleep();">Sleep</button-->
    </div>
  </div>

  <div class="status-root"></div>

  <nav class="no-shadow">
    {{ g.user.address }}
    <a href="https://nekoyu.me/">{% trans -%}Homepage{%- endtrans %}</a>
    <a href="https://nekoyu.me/token">{% trans -%}Buy Gold{%- endtrans %}</a>
    <a href="https://github.com/nekoyume">Github</a>
    <a href="{{ url_for('game.export_private_key') }}">{% trans -%}Export Private Key{%- endtrans %}</a>
    <a href="{{ url_for('game.get_logout') }}">{% trans -%}Logout{%- endtrans %}</a>
  </nav>

  <script>
    var gameInstance = UnityLoader.instantiate("gameContainer", "{{ static_url(filename='dist/build/webgl.json') }}", {onProgress: loading});
    var inProgress = true;
    var MAX_QUEUE_LENGTH = 4;

    var gs = { // game status
        unityInit: false,
        dead: false,
        battleResults: [],
        userCreatedMoveQueue: [], // functions to execute
        renderInProgress: false,
        sleeping: false
    }

    window.gs = gs;

    function init() {
      $('.status-root').load('/status .status', function () {
        $.get('/in_progress', function (data) {
            autoBattle();
        });
      });
    }

    function autoBattle() {
      console.log("starting idle mode");
      setInterval(_autoBattle, 1000);
    }

    function _autoBattle() {
      if (!gs.unityInit) return;

      // always render something
      if (!gs.renderInProgress) {
        if (gs.battleResults.length > 0) {
          // render battle result
          console.log("▶️: (queue " + (gs.battleResults.length - 1) + ")");
          renderBattle(gs.battleResults.shift());
        } else {
          if (gs.dead) { // sleep
            gameInstance.SendMessage("Battle", "Sleep", "");
          } else { // walk
            gameInstance.SendMessage("Battle", "Walking", "");
          }
        }
      }

      if (inProgress) return;

      // execute moves
      if (gs.userCreatedMoveQueue.length > 0) {
          // if user has explicitly called a move (such as move_zone)
          // we put it into the queue, where it is executed before
          // battle related actions
          gs.userCreatedMoveQueue.shift()();
      } else if (gs.battleResults.length < MAX_QUEUE_LENGTH) {
        if (gs.dead) {
          queueSleep();
        } else {
          queueHackAndSlash();
        }
      }

    }

    function renderBattle(json) {
      gameInstance.SendMessage("Battle", "Play", json);
      gs.renderInProgress = true;
    }

    function handleBattleData(json) {
      gs.battleResults.push(json);
      console.log("queue size = " + gs.battleResults.length);
      var battle = JSON.parse(json);

      // HAX: determine if player is dead or alive
      for (var action of battle["status"]) {
        if (action["type"] == "dead" && action["id_"] == 1) {
          gs.dead = true;
          return;
        } else {
          gs.dead = false;
        }
      }
    }

    function loading(gameInstance, progress) {
      if (!gameInstance.Module) {
        return;
      }
      if (!inProgress) {
        setInProgress(true);
      }
      $('.message').text((100 * progress) + '%');
    }

    function setInProgress(value) {
      inProgress = value;
      if (value)
      {
        $('.progress').show();
        $('.message').text('');
        $('.game button').prop('disabled', true);
      }
      else
      {
        $('.progress').hide();
        $('.game button').prop('disabled', false);
      }
    }

    function onLoadUnity() {
      gs.unityInit = true;
      setInProgress(false);
      gameInstance.SendMessage("Battle", "Home", "novice");
    }

    function onMessage(msg) {
      // message from unity
      if (msg == "end_battle") {
        console.log("render finished");
        gs.renderInProgress = false;
        $('.message').text('');
      } else {
          console.log("received some other message from unity " + msg);
      }
    }

    function onSkill(name) {
      $('.message').text(name);
    }

    function play() {
      // HAX: even after sleep, .moves is still set to the previous battle data
      // in which the player has just died. For now, we add a variable `sleeping`
      // and assume that if this method is called after sleep, the player is
      // alive.
      if (gs.sleeping) {
          gs.sleeping = false;
          gs.dead = false;
          return;
      }
      var hasEl = $($('.history div')[1]).children('input');
      if (hasEl.length > 0) {
        var json = $(hasEl).val();
        handleBattleData(json);
      } else {
        // this should be queued, but battle takes care of it
        //gameInstance.SendMessage("Battle", "Home", "novice");
      }
    }

    function replay(block_id) {
      if (inProgress)
        return;

      var json = $('input[name=play_' + block_id + ']').val();
      gameInstance.SendMessage("Battle", "Play", json);
    }

    function update() {
      // HAX: delay added here because /in_progress usually returns false
      // if we call immediately. also vulnerable to race condition.
      setTimeout(_update(), 2000);
    }

    function _update() {
      $.get('/in_progress', function (data) {
        console.log("🚶");
        if (data == "false") {
          console.log("❗: not in progress, loading status");
          setInProgress(false);
          $('.status-root').load('/status .status', play);
        } else {
          setTimeout(_update, 2000);
        }
      });
    }

    function queueHackAndSlash() {
      if (inProgress)
        return;

      console.log("⚔");
      setInProgress(true);
      $.post("{{ url_for('game.post_move') }}", {
        name: 'hack_and_slash'
      }, update);
    }

    function queueSleep() {
      if (inProgress)
        return;

      console.log("💭");
      gs.sleeping = true;
      setInProgress(true);
      $.post("{{ url_for('game.post_move') }}", {
        name: 'sleep'
      }, update);
    }

    function firstClass(c) {
      if (inProgress)
        return;

      $('.first-class button').prop('disabled', true);
      gameInstance.SendMessage("Battle", "Clear", "");
      setInProgress(true);
      $.post("{{ url_for('game.post_move') }}", {
        name: 'first_class',
        class_: c
      }, update);
    }

    function moveZone(zone) {
      //if (inProgress)
      //  return;
      console.log("enqueue move " + zone)
      $('.zone button').prop('disabled', true);
      gs.userCreatedMoveQueue.push(function () {queueMoveZone(zone);});
    }

    function queueMoveZone(zone) {
      console.log("moving to " + zone)
      setInProgress(true);
      $.post("{{ url_for('game.post_move') }}", {
        name: 'move_zone',
        zone: zone
      }, update);
    }

    function toggleStats() {
      $('div.stats').toggle();
    }

    function toggleInventory() {
      $('div.inventory').toggle();
    }

    function toggleZone() {
      $('div.zone').toggle();
    }

    function toggleHistory() {
      $('div.history').toggle();
    }

    function strDown() {

    }

    function strUp() {

    }

    function dexDown() {

    }

    function dexUp() {

    }

    function intDown() {

    }

    function intUp() {

    }

    function conDown() {

    }

    function conUp() {

    }

    function lukDown() {

    }

    function lukUp() {

    }

    init();
  </script>
{% endblock %}
