<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title -%} Dashboard {%- endblock %} :: Nekøyume</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block meta %}
    {% endblock %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.grey-blue.min.css">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Poor+Story">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Mali">
    <link rel="stylesheet" href="{{ url_for('static', filename='common.css') }}">
    <style>
      body {
        font-family: 'Mali', 'Poor Story', serif;
      }
      h1, h2, h3, h4, h5, h6, p {
        font-family: 'Mali', 'Poor Story', serif;
        font-weight: normal;
        margin: 18px 0;
      }
    </style>
    {% block style %}
    {% endblock %}
</head>
<body>
{% block body %}
{% endblock %}
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
</body>
{% block script %}
{% endblock %}
</html>
