{% extends 'layout.html' %}
{% block title %}Login{% endblock %}
{% block style %}
<link rel="stylesheet" href="{{ static_url(filename='common.css') }}">
<style>
.background {
    background: #000000 url("{{ static_url(filename='dist/images/bg_stage_01.png') }}") repeat-x;
}
</style>
{% endblock %}
{% block body %}
<div class="background forest">
    <div class="gradient"></div>
</div>

<div class="box">
    <h1>Nekøyume</h1>
    <h4>{% trans %}Welcome!{% endtrans %}</h4>
    <div>
        <p>{% trans %}Hello! Welcome to the world of Nekoyume.{% endtrans %}</p>
        {% if request.args.get('error') == 'invalid-private-key' %}
        <p>{% trans %}Please enter a valid private key of 64 hexadecimal digits (it can be optionally prefixed with <tt>0x</tt>).{% endtrans %}</p>
        {% endif %}
    </div>
    <div>
        <div class="join">
            <h5>[{% trans %}Join{% endtrans %}]</h5>
            <form action="{{ url_for('.post_login') }}" method="POST">
                <div>
                    <label for="name">{% trans %}Name{% endtrans %}</label>
                    <br />
                    <input type="text" id="name" name="name" maxlength="10">
                    <br />
                    <label for="private_key">{% trans %}private key{% endtrans %}</label>
                    <a style="cursor: pointer; font-size: 0.9em;" class="copy-private-key material-icons">file_copy</a>
                    <br />
                    <input type="text" id="private_key" name="private_key" pattern="^(0[Xx])?[A-Fa-f0-9]{64}$">
                </div>
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                        type="submit">{% trans %}OK{% endtrans %}</button>
            </form>
        </div>
        <div class="login">
            <h5>[{% trans %}Login{% endtrans %}]</h5>
            <form action="{{ url_for('.post_login') }}" method="POST">
                <div>
                    <label for="private_key_login">{% trans %}private key{% endtrans %}</label>
                    <br />
                    <input type="hidden" name="name" value="">
                    <input type="text" id="private_key_login" name="private_key" pattern="^(0[Xx])?[A-Fa-f0-9]{64}$">
                </div>
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                        type="submit">{% trans %}OK{% endtrans %}</button>
            </form>
        </div>
    </div>
</div>

<div id="toast" class="mdl-js-snackbar mdl-snackbar">
  <div class="mdl-snackbar__text"></div>
  <button class="mdl-snackbar__action" type="button"></button>
</div>

{% if 'username' not in session and 'private_key' not in session %}
{% endif %}
{% endblock %}
{% block script %}
<script src="https://cdn.rawgit.com/weepy/brequire/master/require.js"></script>
<script>
    window.setTimeout(function () {
        var elliptic = require(
            'https://cdn.rawgit.com/indutny/elliptic/v6.4.1/dist/elliptic.min.js'
        );
        var ec = new elliptic.ec('secp256k1');
        var keyPair = ec.genKeyPair();
        var privKey = keyPair.getPrivate();
        var input = document.getElementById('private_key');
        var hex = privKey.toString('hex');
        while (hex.length < 64) hex = '0' + hex;
        input.value = hex;
    }, 0);

    $(document).ready(function(){
        var bg_position = 0;
        setInterval(function () {
            $('.background').css('background-position', bg_position +'px 0');
            bg_position-=1;
        }, 50);

        $('.copy-private-key').click(copyPrivateKey);
    });

    function copyPrivateKey() {
        var copyText = document.getElementById("private_key");
        copyText.select();
        document.execCommand("copy");
        
        var data = {message: 'Copied "' + copyText.value + '"'};
        var snackbarContainer = document.querySelector('#toast');
        snackbarContainer.MaterialSnackbar.showSnackbar(data);
      }
</script>
{% endblock %}
