{% extends 'layout.html' %}
{% block title %}New{% endblock %}
{% block style %}
<link rel="stylesheet" href="{{ static_url(filename='common.css') }}">
<style>
.background {
    background: #000000 url("{{ static_url(filename='dist/images/bg_stage_01.png') }}") repeat-x;
}
</style>
{% endblock %}
{% block body %}
<div class="background forest">
    <div class="gradient"></div>
</div>

<div class="box">
    <h1>Nekøyume</h1>
    <h4>👶 {% trans %}Currently creating a new character...{% endtrans %}</h4>
    <div>
        {% trans %}Hello! Welcome to the world of Nekoyume. We are currently creating a novice character. <br>This process will take about 15 seconds.{% endtrans %}</p>
        <h5>{% trans %}Know in advance!{% endtrans %}</h5>
        {% include 'basic_info.html' %}
        <input type="hidden" name="new_move_id" value="{{ move.id }}">
    </div>
    <div class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active"></div>
</div>
{% endblock %}
{% block script %}
<script>
var interval = setInterval(function() {
    $.getJSON('/moves/'+$('input[name=new_move_id]').val(), function(data) {
        if(data.move.block) {
            location.href='{{ url_for("game.get_game") }}';
        }
    });
}, 3000);

$(document).ready(function(){
    var bg_position = 0;
    setInterval(function () {
        $('.background').css('background-position', bg_position +'px 0');
        bg_position-=1;
    }, 50);
});
</script>
{% endblock %}
