{% extends 'layout.html' %}
{% block title %}New{% endblock %}
{% block style %}
<link rel="stylesheet" href="{{ static_url(filename='common.css') }}">
<style>
.zone00 {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: url("{{ static_url(filename='dist/images/zone_0_0.png') }}") repeat-x;
}
.zone01 {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: url("{{ static_url(filename='dist/images/zone_0_1.png') }}") repeat-x;
}
.zone02 {
    position: absolute;
    top: 460px;
    z-index: 3;
    width: 100%;
    height: 100%;
    background: url("{{ static_url(filename='dist/images/zone_0_2.png') }}") repeat-x;
}
.zone03 {
    position: absolute;
    top: 472px;
    z-index: 4;
    width: 100%;
    height: 100%;
    background: url("{{ static_url(filename='dist/images/zone_0_3.png') }}") repeat-x;
}
</style>
{% endblock %}
{% block body %}
<div class="background">
    <div class="zone00"></div>
    <div class="zone01"></div>
    <div class="zone02"></div>
    <div class="zone03"></div>
    <div class="gradient"></div>
</div>

<div class="box">
    <h1>Nekøyume</h1>
    <h4>👶 {% trans %}Currently creating a new character...{% endtrans %}</h4>
    <div>
        {% trans %}Hello! Welcome to the world of Nekoyume. We are currently creating a novice character. <br>This process will take about 15 seconds.{% endtrans %}</p>
        <h5>{% trans %}Know in advance!{% endtrans %}</h5>
        {% include 'basic_info.html' %}
        <input type="hidden" name="new_move_id" value="{{ move.id }}">
    </div>
    <div class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active"></div>
</div>
{% endblock %}
{% block script %}
<script>
var interval = setInterval(function() {
    $.getJSON('/moves/'+$('input[name=new_move_id]').val(), function(data) {
        if(data.move.block) {
            location.href='{{ url_for("game.get_game") }}';
        }
    });
}, 3000);

function scrollBg(name) {
    var position = $(name).css('background-position-x');
    console.log(position);
    if (!position)
        position = '0';
    var x = Number(position.replace(/[^0-9-]/g, '')) - 1;
    $(name).css('background-position-x', x +'px');
}

$(document).ready(function(){
    setInterval(function () {
        scrollBg('.zone00');
    }, 80);

    setInterval(function () {
        scrollBg('.zone01');
    }, 60);

    setInterval(function () {
        scrollBg('.zone02');
    }, 24);

    setInterval(function () {
        scrollBg('.zone03');
    }, 20);

    $('.copy-private-key').click(copyPrivateKey);
});
</script>
{% endblock %}
