{% set avatar = g.user.avatar() %}

{% macro create_item_table(prefix, cols) %}
{% if cols > avatar.items|length %}
    {% set cols = avatar.items|length %}
{% endif %}
<table class="items" style="width: {{ cols * 52 }}px;">
    <tbody>
    {% for item in avatar.items %}
        {% if (loop.index - 1) % cols == 0 %}
        <tr>
        {% endif %}
        <td>
            <div id="{{ prefix }}-{{ item.name.lower() }}"
                class="item item-{{ item.name.lower() }}">
                <span class="equip" style="display: none;">E</span>
                <span class="amount">{{ item.amount }}</span>
            </div>
            <div>{{ name }}</div>
        </td>
        {% if loop.index % cols == 0 %}
        </tr>
        {% endif %}
    {% endfor %}    
    </tbody>
</table>
{% endmacro %}

<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>nekoyume</title>
  </head>
  <body>
    <div class="status">

      <div class="avatar">
        <div class="avatar-profile">
          LV. {{ avatar.level }} 
          <img class="avatar-profile-image" src="{{ avatar.profile_image_url }}" alt="{{ avatar.name }} profile image">
          {{ avatar.name }}
        </div>
        <label class="hp">HP {{ avatar.hp }} / {{ avatar.hp_max }}</label>
        <div class="hp-bar">
          <div class="bar" style="width: {{ avatar.hp / avatar.hp_max * 100 }}%;"></div>
        </div>
        <label class="exp">EXP {{ avatar.exp }} / {{ avatar.exp_max }}</label>
        <div class="exp-bar">
          <div class="bar" style="width: {{ avatar.exp / avatar.exp_max * 100 }}%;"></div>
        </div>
        <button class="black toggle-stats label-text" style="width: 191px; margin-bottom: 4px;" onclick="toggleStats();"> Stats ▼ </button></center>
        <div class="stats" style="display: none;">
          <p class="label-text">Class <i class="value-text" style="float: right;">{{ avatar.class_ }}</i></p>
          <!--<p class="label-text" style="font-size: 12px; margin-bottom: 10px;">Stat Point<i class="point-text" style="float: right;">0</i></p>-->
          
          <table class="stat">
            <tr>
              <td class="label-text" style="width: 30px; padding-left: 6px;">STR</td>
              <td style="width: 28px;"><button class="down">-</button></td>
              <td class="value-text" style="width: 65px;">{{ avatar.strength }}<b></b></td>
              <td style="width: 28px;"><button class="up">+</button></td>
            </tr>
          </table>
          <table class="stat">
            <tr>
              <td class="label-text" style="width: 30px; padding-left: 6px;">DEX</td>
              <td style="width: 28px;"><button class="down">-</button></td>
              <td class="value-text" style="width: 65px;">{{ avatar.dexterity }}<b></b></td>
              <td style="width: 28px;"><button class="up">+</button></td>
            </tr>
          </table>
          <table class="stat">
            <tr>
              <td class="label-text" style="width: 30px; padding-left: 6px;">INT</td>
              <td style="width: 28px;"><button class="down">-</button></td>
              <td class="value-text" style="width: 65px;">{{ avatar.intelligence }}<b></b></td>
              <td style="width: 28px;"><button class="up">+</button></td>
            </tr>
          </table>
          <table class="stat">
            <tr>
              <td class="label-text" style="width: 30px; padding-left: 6px;">CON</td>
              <td style="width: 28px;"><button class="down">-</button></td>
              <td class="value-text" style="width: 65px;">{{ avatar.constitution }}<b></b></td>
              <td style="width: 28px;"><button class="up">+</button></td>
            </tr>
          </table>
          <table class="stat">
            <tr>
              <td class="label-text" style="width: 30px; padding-left: 6px;">LUK</td>
              <td style="width: 28px;"><button class="down">-</button></td>
              <td class="value-text" style="width: 65px;">{{ avatar.luck }}<b></b></td>
              <td style="width: 28px;"><button class="up">+</button></td>
            </tr>
          </table>
          <!--<button class="black toggle-infomation label-text" style="width: 179px; margin-top: 8px;">Information ►</button>-->
        </div>
        
        
      </div> <!-- avatar -->

      <div class="gold">{{ avatar.gold }}</div>

      <div class="zone">
        <dl>
        {% set zone_list = avatar.unlocked_zone %}
        {% for zone in zone_list %}
          {% if zone == avatar.zone %}
            <li>
            {{ zone }}
            </li>
          {% else %}
            <li>
              <button onclick="moveZone('{{ zone }}');">{{ zone }}</button>
            </li>
          {% endif %}
        {% endfor %}
        </dl>
      </div>

      {% if avatar.class_ == 'novice' %}
      <div class="menus first-class" style="left: 700px;">
        <button onclick="firstClass('swordman');">Swordman</button>
        <button onclick="firstClass('mage');">Mage</button>
        <button onclick="firstClass('archer');">Archer</button>
        <button onclick="firstClass('acolyte');">Acolyte</button>
      </div>
      {% endif %}

      <div class="inventory popup">
        <h2>INVENTORY</h2>
        {{ create_item_table("inventory", 4) }}
      </div>

      <div class="equipments popup">
        <div class="item">
        </div>
      </div>
      
      <!-- start moves -->
      <div class="moves">
        {% for move in feed.limit(10) %}
        <div class="move move-{{ move.id }}">
          {% set move_avatar, result = move.execute() %}
          {% if result.type == 'create_novice' %}
          {% elif result.type == 'hack_and_slash' %}
          ⚔️ {% trans -%}Battle was finished.{%- endtrans %}
          <input type="hidden" name="play_{{ move.block_id }}" value="{{ result.battle_logger.json_dump() }}">
          <button onclick="replay({{ move.block_id }});">Replay</button>
          {% set characters = result.battle_logger.get_characters() %}
          {% for i in characters %}
          {{ characters[i].name }}
          {% endfor %}
          <dl>
          {% for status in result.battle_logger.logs %}
            {% if status.type == 'get_exp' %}
            <li>🤔(EXP +{{ status['exp'] }})</li>
            {% elif status.type == 'get_item' %}
            <li>🎁 {{ characters[status.id_].name }} << {{ status.item }}.</li>
            {% elif status.type == 'item_use' %}
            <li>🎁 {{ characters[status.id_].name }} >> {{ status.item }}. <small>({{ status_change }})</small></li>
            {% endif %}
          {% endfor %}
        </dl>
          {% elif result.type == 'sleep' %}
          💤{% trans -%}HP was recovered by sleep.{%- endtrans %}
          {% endif %}
          <hr />
        </div>
        {% endfor %}
      </div>
      <!-- end moves-->
    </div>
  </body>
</html>
